<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header") %>
    <title>Blogg Application</title>
    <%-include("./partials/style") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <!-- <h1>Shah Lucky</h1> -->
    <%- include("./partials/body") %> <%- include("./partials/scripts") %> <%-
    include("./partials/scripts2") %>
   
  </body>
</html>
